table { text-align:center; border-collapse:collapse;}

.tablehead {
    background-color: 	#91ffff;
}

.btn-none {
    width: 100%;
    padding: 2%;
    cursor: pointer;
    border: none;
    background: none;
}
.btn-selected {
    color: white;
    background: none;
    border: none;
    width: 100%;
    padding: 2%;
    cursor: pointer;
}

.tableCell {
    border-left: 1px solid rgba(224, 224, 224, 1);
}

.selectedCell {
    background-color: #FF8400;
    color: white;
}



